@font-face {
  font-family: "Smiley";
  src: local("Smiley"), url("./Smiley.ttf") format("truetype");
}

@font-face {
  font-family: "MerriweatherSans";
  src: local("MerriweatherSans"),
    url("./MerriweatherSans-Bold.ttf") format("truetype");
}
