@import "typography.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
.slick-next {
  right: 0;
  z-index: 1;
}
.slick-prev {
  left: 0;
  z-index: 1;
}

.slick-slide > div {
  outline: none;
}
.slick-slide > div:focus {
  outline: none;
}

.slick-slide.slick-cloned > div {
  outline: none;
}
